.bg{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mt-top{
    margin-top: 200px;
    max-width: 70%;
}

.card{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #D3D3D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #D3D3D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font{
    font-family: 'Permanent Marker', cursive;
}

.topnav {
    background-color: rgb(32, 105, 201);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1ce6d5;
    color: white;
  }
  
  #about
  {
    background: rgb(75, 172, 252);
      background-size: cover;
      background-position: 30% 30%;
      color:#555!important;
      background-attachment: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      color:#555;
  }
  
  
  #about .btn
  {
      margin-top:20px;
      margin-bottom:30px;
      
  }
  
  .about-content
  {
      padding-top: 20px;
  }
  
  .skills-bar p
  {
      margin-bottom:6px;
      font-weight: 600;
  }
  
  .progress-bar
  {
      border-radius:16px;
  }
  
  .progress
  {
      border-radius:16px!important;
      margin-bottom: 20px;
      
  }
  
  #services
  {
      background: rgb(32, 207, 149);
      background-size: cover;
      background-position: 30% 30%;
      color:#555!important;
      background-attachment: relative;
      padding-top:40px;
      padding-bottom: 40px;
  }
  
  #services h1
  {
      text-align: center;
      color:#fff!important;
      padding-bottom: 10px;
  }
  
  #services h1::after
  {
      content: '';
      background:#efefef;
      display: block;
      height:3px;
      width:170px;
      margin: 20px auto 5px;
  }
  #services h3
  {
      font-weight: 400;
      color: white;
      margin: auto;
  }
  #services p
  {
      font-weight: 400;
      color: white;
      margin: auto;
      margin-top: 20px;
  }
  
  
  #services i
  {
      
      color: white;
  }
  
  .icon
  {
      font-size:40px;
      margin:20px auto;
      padding: 20px;
      height: 80px;
      width:80px;
      border:1px solid #fff;
      border-radius:50%;
  }
  
  .services .col-md-4:hover{
      background:#007bff;
      cursor: pointer;
      transition: 0.7s;
      
  }
  
  /*-------team-------*/
  #team
  {
      padding-top: 50px;
      padding-bottom: 50px;
      color: #555;
      
  }
  
  h1
  {
      text-align: center;
      color: #555!important;
      padding-bottom: 10px;
  }
  
  h1::after
  {
      content:'';
      background: #007bff;
      display: block;
      height: 3px;
      width: 170px;
      margin: 20px auto 5px;
  }
  
  .profile-pic .img-box
  {
      opacity: 1;
      display: block;
      position: relative;
  }
  
  .profile-pic .img-box img
  {
      filter: grayscale(1);
      
  }
  
  .profile-pic .img-box img:hover
  {
      filter: grayscale(0);
      cursor: pointer;
      
  }
  
  .profile-pic h2
  {
      font-size: 22px;
      font-weight: bold;
      margin-top:15px;
      color: #007bff!important;
      
  }
  
  .profile-pic h3
  {
      font-size: 15px;
      font-weight: bold;
      margin-top:15px;
      color: black;
      
  }
  
  #team .fa
  {
      height:25px;
      width: 25px;
      color: #007bff !important;
      background: #fff;
      padding: 4px;
      border-radius: 50%;
  }
  
  .img-box ul
  {
      padding: 15px 0;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
  }
  
  .img-box ul li
  {
      padding: 5px;
      display: inline-block;
  }
  
  .img-box:hover ul
  {
      opacity: 1;
      
  }
  
  .img-box ul, .img-box ul
  {
      transition: 0.5s;
  }
  
  .img-responsive
  {
      height: 250px;
      width: 200px;
      margin: 0px 50px;
      
      
  }
  
  #contact
  {
      background: #efefef;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #777;
  
  }
  
  .contact-form
  {
      padding: 15px;
  }
  
  ::placeholder
  {
      color: #999!important;
  }
  
  .follow
  {
      background: #fff;
      padding: 10px;
      margin: 15px;
  }
  
  .contact-info .fa
  {
      margin: 10px;
      color: #007bff;
      font-weight: bold;
  }
  
  #contact
  {
      background: #efefef;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #777;
  
  }
  
  .contact-form
  {
      padding: 15px;
  }
  
  ::placeholder
  {
      color: #999!important;
  }
  
  .follow
  {
      background: #fff;
      padding: 10px;
      margin: 15px;
  }
  
  .contact-info .fa
  {
      margin: 10px;
      color: #007bff;
      font-weight: bold;
  }